@media (min-width: 768px) {
    .form-inline .radio input[type="radio"], 
    .form-inline .checkbox input[type="checkbox"] {
        float: left;
        margin-right: 5px;
    }
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], 
.radio input[type=radio], .radio-inline input[type=radio] {
	/* position: relative; */
	margin-top: -16px;
	margin-left: -20px;

}


.brand {
	font-family: 'Major Mono Display';
	font-size: 32px; 
	color: #FFFFFF;
	text-align: center;
	position: relative;
	top: 25%;
	
}

.brandtext {
	font-family: 'Monoton';
	font-size: 48px; 
	color: #000;
	text-align: center;
	position: relative;
	top: 12%;
	left: 5%;
	
}

.clock {
	color: #000;
	text-align: center;
	position: relative;
	
	left : 60%;
	top: 20%;
	font-family: 'Inconsolata'; 
	font-size: 24px; 
}

.navbar {
	margin-top: 16px;
	margin-bottom: 10px;
	background-color : #3F0098;
	background-color : #EEE;
	height : 72px;
	width : 100%;
}

.logo-img {
	position: relative; 
	top: -65%;
	/*background-color : #3F0098;*/
}

.cable {
	position: relative; 
	background-color : #3F0098;
}



.mainlogo{
	font-family: 'Major Mono Display', 'cursive';
	font-size: 48px; 
	position: relative; 
	top: -10%;
}

.maintab {
	font-family: 'Source Code Pro', monospace;
	font-size: 16px;	
}

.jumbotron {
	font-family: 'Source Sans Pro';
	/*background-color :  #deeaee;*/
	/*background-color :  #f2e6ff;*/
	background-color :  #FFFFFF;
}


.logwell {
	position: relative; 
	height : 320px;
	overflow-y:auto;
	font-family: 'Source Code Pro', monospace;
	font-size: 16px;	
}

.imcenter {
	display : inline-block; 
	position: relative;
    left : 5%;
    right: 5%;

	margin-left: auto;
    margin-right: auto;

	max-width: 480px;
    max-height: 480px;

}

.imageblur {
    filter: blur(5px);
}

.statscounter {
	height: 60px;
	width: 240px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.glyphicon {
    font-size: 24px;
}

.inplabel {
	position: relative; 
	/*padding-bottom: 20px;*/
	margin-right: 1px;
	
	font-family: 'Source Code Pro', monospace;
	font-size: 16px;	
}

.sliderlabel {
	position: relative; 
	left: 20px;
	/*padding-bottom: 20px;*/
	font-family: 'Source Code Pro', monospace;
	font-size: 16px;	
}

.slider-handle.extcustom {
	color: #3F0098;
}

.modal-dialog {
	position: relative;
	/*margin-left: 50%;*/
	margin-top: 20% ;
	opacity : 10%;
}

.speedselect {
	position: relative; 
	margin-top: 25px;
	padding-right: 10px;
	padding-left: 10px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}


.image-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}


.image-preview-input-title {
    margin-left:2px;
}

.custom-file-upload input[type="file"] {
    display: none;
}


.custom-file-upload .custom-file-upload1 {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}



.progress {
    position: relative;
	height: 25px;
}
.progress > .progress-type {
	position: absolute;
	left: 0px;
	font-weight: 800;
	padding: 3px 30px 2px 10px;
	color: rgb(255, 255, 255);
	background-color: rgba(25, 25, 25, 0.2);
}
.progress > .progress-completed {
	position: absolute;
	right: 0px;
	font-weight: 800;
	padding: 3px 10px 2px;
}


.uut {
	position: relative; 
	margin-top: 10px;
	margin-bottom: 10px;
}

.roundslider {
	position: relative; 
	left : 10%;
	margin-top: 10px; 
	margin-bottom: 10px;
}

.rs-range-color  {
    background-color: #5673E7;
}

.rs-path-color  {
    background-color: #000;
}

.roundslider .rs-handle  {
    background-color: #3F0098;
}
