    /*
    Flaticon icon font: Flaticon
    Creation date: 22/04/2019 04:03
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-ethernet-1:before { content: "\f100"; }
.flaticon-ethernet-2:before { content: "\f101"; }
.flaticon-ethernet-3:before { content: "\f102"; }
.flaticon-file-transfer:before { content: "\f103"; }
.flaticon-file-transfer-1:before { content: "\f104"; }
.flaticon-traffic:before { content: "\f105"; }
    
    $font-Flaticon-ethernet-1: "\f100";
    $font-Flaticon-ethernet-2: "\f101";
    $font-Flaticon-ethernet-3: "\f102";
    $font-Flaticon-file-transfer: "\f103";
    $font-Flaticon-file-transfer-1: "\f104";
    $font-Flaticon-traffic: "\f105";